<footer id="pre-contact">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<p><strong>Action Ambulance </strong></p>
				<p>Action Ambulance propose des véhicules sanitaires aux normes et de qualité pour le confort et le bien-être des personnes souffrantes dans tout le Val-de-Marne et dans toute l’Île-de-France. Nos ambulanciers certifiés surveillent votre état de santé durant le transport vers l’établissement hospitalier en vous prodiguant les soins et les réanimations nécessaires à votre état de santé depuis quelques années.</p>
				
			</div>

			<div class="col-sm-4">
				<p><strong>Contactez-nous </strong></p>
				 {% include pre-contact.html %}
			</div>
			<div class="col-sm-4">
				<p><strong>Nos coordonnées</strong></p>
				<p>Adresse : {{ site.data.company.streetAddress }} {{ site.data.company.postalCode }} {{ site.data.company.addressLocality }}</p>
				<p>Téléphone : <a href="tel:{{ site.data.company.phone1 }}"> {{ site.data.company.phone1 }}</a></p>
				<p>E-mail :<a href="mailto:{{ site.data.company.email }}"> {{ site.data.company.email }}</a> </p>
				<p>Nos horaires : 7J/7 – 24H/24 </p>
				<ul class="social">
					<li><a href="#"  class="fa fa-facebook"></a></li>
					<li><a href="#"  class="fa fa-twitter"></a></li>
					<li><a href="#"  class="fa fa-google-plus"></a></li>
				</ul>
			</div>
		</div>
		<div class="pad02"></div>
		<div class="text-center">
			<a href="" target="_blank">BHInternet - Création site internet | {{ site.time | date: '%Y' }}</a> | <a href="{{ site.data.company.ambulance_vitry_url }}">Ambulance Vitry</a>
		</div>
	</div>
</footer>