<!-- Base Scripts -->
<script src="{{ site.baseurl }}/ressources/js/jquery-1.11.0.min.js"></script>
<script src="{{ site.baseurl }}/ressources/js/bootstrap.min.js"></script>
<script src="https://use.fontawesome.com/24b7f338c4.js"></script>

{% if page.url == '/devis/' or page.url == '/' %}
	<script src="{{ site.baseurl }}/ressources/js/bootstrap-datepicker.js" type="text/javascript"></script>
  	<script src="{{ site.baseurl }}/ressources/js/clockpicker.js" type="text/javascript"></script>
	<script src="{{ site.baseurl }}/ressources/js/datepicker-locales/bootstrap-datepicker.fr.js" type="text/javascript"></script>
	<script>
		$(document).ready(function() {
			$('.bootstrap-datepicker input').datepicker({
				todayBtn: "linked",
				language: "fr",
				autoclose: true,
				todayHighlight: true
			});
		});
	</script>

	<script type="text/javascript">
		$(document).ready(function() {
			$('.clockpicker').clockpicker({
				autoclose: true
			});
		});
	</script>
{% endif %}

{% if page.url == '/galerie/' or page.url contains '/album-' or page.url contains '/product-' %}
	<script src="{{ site.baseurl }}/ressources/js/lightbox-2.6.min.js" type="text/javascript"></script>
{% endif %}

<!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-127176750-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-127176750-1');
</script>

{% if page.facebook %}
	<div id='fb-root'></div>
	<script>(function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src = '//connect.facebook.net/fr_FR/all.js#xfbml=1';fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script>
{% endif %}

{% if page.twitter %}
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','twitter-wjs');</script>
{% endif %}

{% if page.google_plus %}
	<script type='text/javascript'>
		window.___gcfg = {lang: 'fr'};
		(function() {
			var po = document.createElement('script');
			po.type = 'text/javascript';
			po.async = true;
			po.src = 'https://apis.google.com/js/platform.js';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(po, s);
		})();
	</script>
{% endif %}

<script type="text/javascript" src="{{ site.baseurl }}/ressources/js/bxslider.min.js"></script>
<script type="text/javascript">
	// Utilisation de l'API MediaQueryList moderne
	if (window.matchMedia) {
		const mq = window.matchMedia("(min-width: 768px)");
		mq.addEventListener('change', handleWidthChange);
		handleWidthChange(mq);
	}

	function handleWidthChange(mq) {
		if (mq.matches) {
			$(document).ready(function() {
				$('.bxslider').bxSlider({
					minSlides: 1,
					auto: true,
					speed: 1800,
					pause: 5000,
					maxSlides: 1,
					slideMargin: 10
				});
			});
		}
	}
</script>

<script type="text/javascript">
	// Optimisation de la gestion du scroll avec debounce
	let scrollTimeout;
	$(window).on('scroll', function() {
		clearTimeout(scrollTimeout);
		scrollTimeout = setTimeout(function() {
			const scrollTop = $(document).scrollTop();
			const menu = $(".menu");
			
			if (scrollTop > 40) {
				menu.addClass('fixmenu');
			} else {
				menu.removeClass('fixmenu');
			}
		}, 10);
	});
</script>

<script type="text/javascript">
	$(document).ready(function() {
		const $lightbox = $('#lightbox');
		
		$('[data-target="#lightbox"]').on('click', function(event) {
			const $img = $(this).find('img');
			const src = $img.attr('src');
			const alt = $img.attr('alt');
			const css = {
				'maxWidth': $(window).width() - 100,
				'maxHeight': $(window).height() - 100
			};
		
			$lightbox.find('.close').addClass('hidden');
			$lightbox.find('img')
				.attr('src', src)
				.attr('alt', alt)
				.css(css);
		});
		
		$lightbox.on('shown.bs.modal', function() {
			const $img = $lightbox.find('img');
			$lightbox.find('.modal-dialog').css({'width': $img.width()});
			$lightbox.find('.close').removeClass('hidden');
		});
	});
</script>

<script type="text/javascript">
	// Optimisation de la gestion du scroll pour le téléphone fixe
	let phoneScrollTimeout;
	$(window).on('scroll', function() {
		clearTimeout(phoneScrollTimeout);
		phoneScrollTimeout = setTimeout(function() {
			const scrollTop = $(document).scrollTop();
			const $fixphone = $("#fixphone");
			
			if (scrollTop > 40) {
				$fixphone.slideDown(300);
			} else {
				$fixphone.slideUp(300);
			}
		}, 10);
	});
</script>