<form action="https://formspree.io/f/manoykqy" method="POST">
<div class="row">
      <div class="col-sm-12">
        <div class="form-group has-feedback">
        <input type="text" class="form-control " id="nom" name="nom" value="" placeholder="Nom">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group has-feedback">
        <input type="text" class="form-control " id="email" name="email" value="" placeholder="E-mail">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group has-feedback">
        <input type="text" class="form-control " id="telephone" name="telephone" value="" placeholder="Téléphone">
        </div>
      </div>
       <div class="col-sm-12">
        <div class="form-group has-feedback" >
        <textarea class="form-control" id="message" name="message" rows="3" placeholder="Message"></textarea>
        </div>
      </div>
 
</div>
 <div class="row ">
   <div class="col-xs-12 ">
      <button type='submit' name="precontact" class="btn button" > Envoyer  </button>
   </div>
 </div>